.user {
  &__avatar {
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: unset;
    display: inline-block;
    width: -webkit-fill-available;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    margin-bottom: 30px;
  }
}

.active {
  background-color: lightgray;
}